.weather-app{
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    border-radius: 10px;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

.app-image{
position: relative;
top: -150px;
}

.city-weather{
    color: white;
    font-size: 30px;
    font-weight: 100;
    text-align:right;
}

h1{text-align: right;}

h2{
    color: white;
    font-size: 18px;
    font-weight: 100;   
}

li{
    list-style: none;
    text-align: right;
    text-transform: capitalize;
}

.weather-summary{
    color: white;
    font-size: 15px;
    text-align: right;
}

.weather-forecast-temperature{
    margin: 10px auto;
    text-align: left;
}
